@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
  url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
  url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 59px;
  font-family: "Product sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* =========== HEADER PART ========== */
.pixer-header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.pixer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pixer-logo {
  display: block;
  width: 59px;
  height: 20px;
  transition: opacity 0.3s ease;
}

.pixer-logo:hover {
  opacity: 0.8;
}

.pixer-logo:active {
  opacity: 0.4;
}

.pixer-header-left {
  display: flex;
  align-items: center;
}

.pixer-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pixer-nav-item {
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease,
  border-bottom-color 0.3s ease;
}

.pixer-nav-item:hover,
.pixer-nav-item-active {
  border-bottom-color: #191919;
}

.pixer-nav-item:active {
  background-color: rgba(25, 25, 25, 0.7);
}

.pixer-nav-item:active .pixer-nav-link {
  color: #FFFFFF;
}

.pixer-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  padding: 16px;
  transition: color 0.3s ease;
}

.blue-link {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-weight: bold;
  background-color: #00BAFC;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 8px 16px;
  white-space: nowrap;
}

.blue-link-add-style {
  border: 3px solid transparent;
  margin-left: 32px;
  transition: background-color 0.3s ease,
  border-color 0.3s ease,
  color 0.3s ease;
}

.blue-link-add-style:hover {
  background-color: #fff;
  border-color: #00bafc;
  color: #00BAFC;
}

.blue-link-add-style:active {
  background-color: rgba(0, 186, 252, 0.6);
  border-color:rgba(0, 186, 252, 0.6);
}

.has-dropdown-item {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: -16px;
  background-color: #fff;
  margin: 0;
  padding: 8px 0 8px;
  list-style-type: none;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: opacity 0.6s, visibility 0.6s;
  transition: opacity 0.6s, visibility 0.6s;
}

.has-dropdown-item:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.dropdown-item:hover {
  background-color: #00BAFC;
}

.dropdown-item:active {
  background-color: #00BAFC;
  opacity: 0.6;
}

.dropdown-link {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.dropdown-link:hover {
  color: #FFFFFF;
}

/* MAIN part */

.header-section {
  margin-bottom: 56px;
}

.header-section-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header-section-left {
  max-width: 465px;
}

.header-section-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 130%;
}

.header-section-text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 24px;
}

.header-section-link {
  margin-left: 0;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.header-section-link:hover {
  background-color: rgba(0, 186, 252, 0.8);
}

.header-section-link:active {
  background: rgba(0, 186, 252, 0.6);
}

.header-section-video {
  width: 458px;
  height: 258px;
  border: none;
  border-radius: 5px;
}

.pixer-nav-toggler {
  display: none;
}

@media only screen and (max-width: 890px) {
  .pixer-nav {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .pixer-nav-list {
    display: none;
  }

  .pixer-nav-toggler {
    display: block;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border: 3px solid #00BAFC;
    background-color: #00BAFC;
    border-radius: 5px;
    background-image: url("../img/menu-opener.svg"), url("../img/close.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center, top -100px left -100px;
  }

  .pixer-header-left-toggler .pixer-nav-toggler {
    background-image: url("../img/close.svg"), url("../img/menu-opener.svg");
  }

  .pixer-header-left-toggler .pixer-nav-list {
    display: block;
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: left;
    padding-left: calc(100% - 250px);
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
  }

  .dropdown-list {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .dropdown-item::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
  }
}

@media only screen and (max-width: 400px) {
  .blue-link {
    font-size: 0;
    border: none;
    width: 40px;
    background-image: url("../img/phone-call.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
  }
}

/* SERVICES SECTION */

.services {
  margin-bottom: 56px;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.section-text {
  max-width: 719px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: -70px;
  justify-content: center;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  margin-left: 70px;
  margin-bottom: 48px;
}

.services-link {
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  color: #222;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: box-shadow 0.3s ease;
}

.services-link:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-link:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-link::before {
  display: inline-block;
  content: "";
  height: 130px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.services-item:nth-child(1) .services-link::before {
  width: 203px;
  background-image: url("../img/website.svg");
}

.services-item:nth-child(2) .services-link::before {
  width: 222px;
  background-image: url("../img/bot-illustration.svg");
}

.services-item:nth-child(3) .services-link::before {
  width: 177px;
  background-image: url("../img/smm-illustration.svg");
}

.services-item:nth-child(4) .services-link::before {
  width: 179px;
  background-image: url("../img/design-illustration.svg");
}

.services-item:nth-child(5) .services-link::before {
  width: 169px;
  background-image: url("../img/crm-illustration.svg");
}

.services-link-heading {
  font-size: 20px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 16px;
}

.services-link-text {
  margin: 0;
  flex-grow: 1;
}

.services-ordering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.going-services-link {
  margin-left: 16px;
  color: #00BAFC;
  text-decoration: none;
  border-bottom: 2px solid #00BAFC;
}

/* How we work section */

.process {
  padding-top: 56px;
  padding-bottom: 56px;
}

.process-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.process-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.process-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.process-item::before {
  display: inline-block;
  content: "";
  width: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 32px;
}

.process-item:nth-child(1)::before {
  height: 277px;
  background-image: url("../img/step-illustration7.svg");
}

.process-item:nth-child(2)::before {
  height: 225px;
  background-image: url("../img/step-illustration.svg");
}

.process-item:nth-child(3)::before {
  height: 259px;
  background-image: url("../img/step-illustration2.svg");
}

.process-item:nth-child(4)::before {
  height: 171px;
  background-image: url("../img/step-illustration4.svg");
}

.process-item:nth-child(5)::before {
  height: 232px;
  background-image: url("../img/step-illustration25.svg");
}

.process-item:nth-child(2n)::before {
  order: 1;
  margin-left: 32px;
}

.process-item-content {
  max-width: 493px;
}

.process-item-heading {
  font-size: 20px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 8px;
}

.process-item-text {
  margin: 0;
}

/* Ordering section */

.order-section {
  background-color: #00BAFC;
  padding-top: 56px;
  padding-bottom: 64px;
  text-align: center;
  color: #ffffff;
}

.order-section-heading {
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 16px;
}

.order-section-text {
  max-width: 719px;
  margin: 0 auto 24px;
}

/* Order section form */

.order-section-form {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 24px;
  border-radius: 5px;
}

.order-section-input,
.order-section-select {
  display: inline-block;
  border: none;
  background: #F3F3F3;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 32px;
}

.order-section-input::placeholder {
  color: #222;
}

.order-section-btn {
  align-self: center;
  cursor: pointer;
  line-height: 24px;
}

/* FOOTER */

.pixer-footer {
  background-color: #191919;
  padding-top: 56px;
  padding-bottom: 56px;
  color: #ffffff;
}

.pixer-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright,
.footer-websites {
  margin-right: 100px;
}

.footer-heading {
  font-size: 20px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 16px;
}

.copyright-text {
  max-width: 320px;
  margin: 0;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-link {
  text-decoration: none;
}

.websites-link {
  color: #ffffff;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.websites-link:hover {
  color: #00BAFC;
}

.websites-link:active,
.social-media-item:active {
  opacity: 0.6;
}

.social-media-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.social-media-item:hover .social-media-link,
.social-media-item:hover .footer-icon-svg {
  color: #00BAFC;
}

.footer-icon-svg {
  display: inline-block;
  width: 22px;
  height: 24px;
  margin-right: 8px;
  transition: color 0.3s ease;
}

.social-media-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

/* ======SERVICES PAGE====== */

.services-main {
  background-color: #F4F4F4;
  padding-top: 80px;
  padding-bottom: 80px;
}

.services-main-header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

.services-main-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 130%;
}

.services-main-text {
  margin: 0;
}

.services-lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-main-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  max-width: 804px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 32px;
}

.services-main-item:not(:last-child) {
  margin-bottom: 64px;
}

.services-main-item::before {
  width: 200px;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 40px;
}

.services-main-item:nth-child(1)::before {
  height: 128px;
  background-image: url("../img/website.svg");
}

.services-main-item:nth-child(2)::before {
  height: 117px;
  background-image: url("../img/bot-illustration.svg");
}

.services-main-item:nth-child(3)::before {
  height: 147px;
  background-image: url("../img/smm-illustration.svg");
}

.services-main-item:nth-child(4)::before {
  height: 145px;
  background-image: url("../img/design-illustration.svg");
}

.services-main-item:nth-child(5)::before {
  height: 154px;
  background-image: url("../img/crm-illustration.svg");
}

.services-main-content {
  max-width: 500px;
}

.services-main-item-heading {
  font-size: 20px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 16px;
}

.services-main-item-text {
  margin-top: 0;
  margin-bottom: 16px;
}

.details-list {
  margin-bottom: 16px;
}

.details-item:not(:last-child) {
  margin-bottom: 8px;
}

.details-item {
  display: flex;
  align-items: center;
}

.details-item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #00BAFC;
  border-radius: 12px;
  margin-right: 8px;
}

.details-links a:nth-of-type(2) {
  padding-bottom: 5px;
}